$accent-color : #FEE741;
$primary-color : #2E0014;
$secondary-color : #6D5959;
$option-color : #EEEBD0;
$main-color: #221E22;

html {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    overflow-x: scroll;
}

body {
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: $main-color;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

a {
	color: $secondary-color;
	text-decoration: none;
	&:hover {
		color: $accent-color;
	}
}