header {
	margin: 0;
	padding-top: 1px;
	background: $accent-color;

	h1 {
		text-align: center;
		font-family: 'Lora', serif;
	}

	h2 {
		text-align: center;
		font-family: 'Lora', serif;
	}

	nav {
		ul {
			display: flex;
			list-style-type: none;
			justify-content: space-around;
			background: $main-color;
			line-height: 3rem;
			box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.38);
			li {
				padding: 0 1rem;
				background: $main-color;
				transition: background 1s;
				&:hover {
					background: $accent-color;
					a {
						color: $primary-color;
					}
				}
				a
				{
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}