header {
	margin: 0;
	padding-top: 1px;
	background: $accent-color;

	h1 {
		text-align: center;
	}

	h2 {
		text-align: center;
	}

	nav {
		ul {
			display: flex;
			list-style-type: none;
			justify-content: space-between;
			background: $main-color;
			line-height: 3rem;
			box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.38);
			li {
				a
				{
					color: white;
					text-decoration: none;
					&:hover {
						color: $accent-color;
					}
				}
			}
		}
	}
}